<ion-view class="form-user-view" hide-back-button="false">
  <ion-content class="form-user-content" has-bouncing="false">
    <div class="title">
      Cadastro
      <span class="message">todos os campos são obrigatórios</span>
    </div>
    <form name="formUser" novalidate ng-submit="submitForm(formUser)">
      <section class="user-data">
        <div class="list list-inset">
          <label validated>
            <div class="label">Nome</div>
            <input autocomplete="off" autocorrect="off" type="text" required ng-model="user.name" name="name" />
            <span class="message error">Preenchimento obrigatório</span>
          </label>
          <label validated>
            <div class="label">Email</div>
            <input autocomplete="off" autocorrect="off" type="email" required ng-model="user.email" name="email"/>
            <span ng-show="formUser.email.$error.required" class="message error">Preenchimento obrigatório</span>
            <span ng-show="!formUser.email.$valid && !formUser.email.$error.required" class="message error">Email inválido</span>
          </label>
          <label validated>
            <div class="label">Senha</div>
            <input autocomplete="off" autocorrect="off" type="password" required minlength="6" ng-model="user.password" name="password" />
            <span ng-show="formUser.password.$error.required" class="message error">Preenchimento obrigatório</span>
            <span ng-show="!formUser.password.$valid && !formUser.password.$error.required" class="message error">Deve ter no mínimo 6 caracteres</span>
          </label>
          <label validated>
            <div class="label">Confirmação de Senha</div>
            <input autocomplete="off" autocorrect="off" type="password" required minlength="6"  password-match ng-model="confirmPassword" name="confirmPassword" />
            <span ng-show="formUser.confirmPassword.$error.required" class="message error">Preenchimento obrigatório</span>
            <span ng-show="formUser.confirmPassword.$error.passwordMatch && !formUser.confirmPassword.$error.required" class="message error">Deve ser igual à senha</span>
          </label>
        </div>
      </section>
      <button type="submit" class="button btn-primary button-block centered with-bottom-border">
        enviar
      </button>
    </form>
  </ion-content>
</ion-view>