<ion-view view-title="Todos">
  <ion-content class="padding" has-bouncing="false">
    <ion-list>
      <ion-item ng-if="debts.length == 0">
        <p>
          Você ainda não tem débitos cadastrados.
        </p>
        <p>
          Crie um novo com o botão abaixo
        </p>
        <button class="button btn-primary button-block centered" ui-sref="createDebtState">
          registrar débito
        </button>
      </ion-item>
      <ion-item ng-repeat="debt in debts" ng-include="'templates/debts/debt-include.html'"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>