<ion-view class="form-debt-view" hide-back-button="false">
  <ion-content class="form-debt-content" has-bouncing="false">
    <div class="title">
      Registrar débito
      <span class="message">* campos obrigatórios</span>
    </div>
    <form name="formDebt" novalidate ng-submit="submitForm(formDebt)">
      <section class="debt-data">
        <div class="list list-inset">
          <label validated>
            <div class="label">Descrição *</div>
            <input autocomplete="off" autocorrect="off" type="text" required ng-model="debt.description" name="description" />
            <span class="message error">Preenchimento obrigatório</span>
          </label>
          <label validated>
            <div class="label">Dia do Vencimento *</div>
            <input type="number" min="1" max="31" required ng-model="debt.expirationDay" name="expirationDay" id="expirationDay" size="2" />
            <span ng-show="formDebt.expirationDay.$error.required" class="message error">Preenchimento obrigatório</span>
            <span ng-show="!formDebt.expirationDay.$valid && !formDebt.expirationDay.$error.required" class="message error">Dia inválido</span>
          </label>
          <ion-toggle ng-model="isRecurrent" toggle-class="toggle-calm">É recorrente?</ion-toggle>
          <label ng-show="!isRecurrent">
            <div class="label">Quantidade</div>
            <input type="number" ng-model="debt.quantity" name="quantity" id="quantity" />
          </label>
          <label>
            <div class="label">Valor</div>
            <input type="text" ng-model="debt.value" name="value" id="value" ui-money-mask />
          </label>
        </div>
      </section>
      <button type="submit" class="button btn-primary button-block centered with-bottom-border">
        enviar
      </button>
    </form>
  </ion-content>
</ion-view>