<ion-view view-title="débitos">
  <ion-floating-button click="createDebt()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

  <ion-content class="padding" has-bouncing="false">
    <ion-list>
      <ion-item ng-if="debts.length == 0">
        <p>
          Você ainda não tem débitos cadastrados.
        </p>
        <p>
          Crie um novo com o botão abaixo
        </p>
        <button class="button btn-primary button-block centered" ui-sref="createDebtState">
          registrar débito
        </button>
      </ion-item>
      <ion-item ng-repeat="debt in debts" ng-click="selectDebt(debt)">
        <div class="line">
          <div class="description" ng-bind="debt.description"></div>
          <div class="expiration-day">
            <i class="fa fa-calendar-o"></i>
            <span ng-bind="debt.expirationDay"></span>
          </div>
        </div>
        <div class="line">
          <div class="is-recurrent" ng-switch="debt.isRecurrent">
            <i class="fa fa-repeat" ng-switch-when="true"></i>
            <i class="fa fa-hashtag" ng-switch-when="false"></i>
            <span ng-bind="debt.isRecurrent ? 'is recurrent' : debt.quantity"></span>
          </div>
          <div class="value" ng-bind="debt.value.asCurrency()"></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>