<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
  <title>WatShoudaPay App</title>

  <!-- inject:css -->
  <!-- endinject -->

</head>
<body ng-app="watshodapay" ng-cloak>
<ion-side-menus enable-menu-with-back-views="true">
  <!-- left content -->
  <ion-side-menu side="left">
    <ion-content ng-controller="MenuController">
      <div class="avatar">
        <div class="img">
          <i class="icon ion-ios-contact"></i>
        </div>
        <div class="user-info">
          <div class="name">
            {{ user.name }}
          </div>
          <div class="account">
          </div>
        </div>
      </div>

      <ion-list>
        <ion-item menu-close ui-sref="debtsState">
          <i class="fa fa-dollar"></i> Débitos
        </ion-item>
        <ion-item menu-close ui-sref="paymentsState.all">
          <i class="fa fa-money"></i> Pagamentos
        </ion-item>
        <ion-item menu-close ui-sref="paymentsState.today">
          <i class="fa fa-bell-o"></i> Vencendo Hoje
        </ion-item>
        <ion-item menu-close ui-sref="paymentsState.tomorrow">
          <i class="fa fa-hourglass-half"></i> Vencendo Amanhã
        </ion-item>
        <ion-item menu-close ui-sref="paymentsState.expired">
          <i class="fa fa-exclamation-circle"></i> Vencidos
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          <i class="icon ion-log-out"></i> Sair
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar>
      <div class="company-footer">
        <span class="company-name">
          <i id="triangle-bottomright"></i> Wat Shou Da Pay?!?
        </span> <span class="company-slogan">É Nóis Inc</span>
      </div>
    </ion-footer-bar>
  </ion-side-menu>
  <!-- main content -->
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar>
      <ion-nav-title>
        <img class="title-image" src="img/not-yet.svg">
      </ion-nav-title>
      <ion-nav-back-button class="button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
      <ion-nav-buttons side="left" ng-show="showMenuButton">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-if="showMenuButton"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view>
    </ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>


<!-- inject:js -->
<!-- endinject -->
</body>
</html>


